
<h1>Bem-vindo ao meu catalogo de filme! :)</h1>

<div class="btn-group-vertical">
  <%= link_to 'Gêneros', genres_path, class: 'btn btn-primary btn-lg mb-3' %>
  <%= link_to 'Filmes', movies_path, class: 'btn btn-primary btn-lg mb-3' %>
  <%= link_to 'Diretores', directors_path, class: 'btn btn-primary btn-lg mb-3' %>
</div>